footer 
    p &copy; Chork 2023 All right reserved.
    a(href="https://github.com/Chorkhieng", class="footer-logo") GitHub
    a(href="https://www.linkedin.com/in/chork-hieng-ab711012a/", class="footer-logo") LinkedIn
    
    