h1 Introduction
div#my-intro
    p Hello, and welcome to my corner of the digital world! 
        | I'm Chork, a passionate computer science student with a knack for Software Engineering and
        | Human-Centered Computing. 
        | Currently pursuing my Bachelor's Degree at the University of Minnesota Twin Cities.
        | I find joy in exploring the endless possibilities that the world of technology offers.

    p I believe that Theoretical Computer Science is an interesting thing to explore 
        | , and I'm on a mission to learn and explore more in this field. 
        | My journey in computer science began with wold's fasting developing technologies.
        | Since then, I've been exposed to the technological world.

    p I have a keen interest in Software Engineering, User Experiences, and AI. 
        | The ever-evolving nature of technology excites me.
        | I'm dedicated to staying updated with the latest advancements in the field.

    p One of the highlights of my academic journey includes Software Engineering Principles
        | hands-on AI projects. 
        | These experiences have not only sharpened my technical skills 
        | but also taught me the importance of the learning process.

    p When I'm not immersed in lines of code, you can find me doing some hobbies. 
        | Whether it's reading, biking, or outside activities, 
        | I believe in maintaining a balance between the virtual and real worlds.

    p I'm always eager to connect with fellow tech enthusiasts.
        | Whether you have a shared interest, a project idea, or building interesting projects.

    p Thanks for stopping by, and I hope you enjoy exploring my digital space!
