div(class="topNav")
            div
                a(href="/") Home
            div 
                a(href="/courses") Courses
            div
                a(href="/projects") Projects
            div
                a(href="/resume") Resume
            div
                a(id="dark-light") Dark Mode
