doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Home Page
        include css_link
        script(src="/js/main.js")
    body
        include nav_bar
        h2 404 ERROR: Page Not Found!
        p The page that you requested can't be found! 
        img(src="/images/Sad-pug.jpg")