doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Project Page
        include css_link
        script(src="/js/main.js")
    body 
        include nav_bar
        h1 Recent Projects
        ul
            h2 Drone Simulation Systems (Class Project): Spring 2023
            ul
                li Worked on the backend of the application to enable users to react with the drone in the simulation.
                li Link to the project&rsquo;s 
                    a(href='https://hub.docker.com/r/chorkhieng/drone_sim') DockerHub
            h2 The N-Queens Problems (Class Project): Spring 2023
            ul
                li Conducted a research project on the N-Queens problem, exploring various algorithmic designs to
                    | efficiently solve the problem
                li Implemented and analyzed the performance of several algorithms, including, brute force, backtracking,
                    | genetic algorithm, and hill climbing
                li Demonstrated strong problem-solving and analytical skills through this project
                li Experiment and collect data for the research
            h2 Personal Portfolio Website (Personal Project)
            ul
                li Developed a responsive personal portfolio website using HTML and CSS to showcase my resume, projects, and skills
                li Implemented a modern and visually appealing design with a focus on usability and user experience
                li Utilized CSS flexbox and grid layouts to create a responsive design that adapts to various screen sizes and devices
                li Integrated Font Awesome icons for social media profiles and contact information
                li Implemented smooth scrolling and navigation using JavaScript to enhance user experience
            h2 Modern Portfolio Website (Personal Project)
            ul
                li Developed a another personal portfolio website with Pug, CSS, NodeJs, and ExpressJs
                li Create database design for the portfolio 
                li Using modern framework to enhance security and more interactive behavior for website

    include footer_page