doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Project Page
        include css_link
        script(src="/js/main.js")
    body 
        include nav_bar
        h1 Projects Page
        h2 TODO TODO 
    include footer_page