doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Resume Page
        include css_link
        script(src="/js/main.js")
    body 
        include nav_bar
        h1 Current Resume 
        h1 Chork Hieng
        h2 Bloomington, Minnesota
        section.resume 
            h3 Profile
                h4 Dedicated Computer Science student with strong academic background and extensive knowledge
                    | in information technology and analytical system research. Determined and eager to advance in the field of
                    | computer science. A hardworking individual that strives to meet goals and continues to set new goals.
                    | Seeking employment where my experience and knowledge can help improve the overall workplace whilst
                    | improving my technical skills, and overall work ethic.
            h3 Education
                h4 University of Minnesota Twin Cities (class of 2024 - est.): September 2022 &ndash; Present
                ul
                    li Bachelor of Science in Computer Science
                h4 Normandale Community College (class of 2022): September (2019 &ndash; May 2022)
                ul
                    li Associate of Science, Associate of Liberal Arts 
                    li Endorsement and Acheivement: High Honor, Dean&apos;s list
            h3 Skills
                ul
                    li Python, Java, C, C++, HTML/CSS, JavaScript, SQL, VS Code, Eclipse, Intellij Idea, Android Studio,
                        | Colab, Jupiter, Linux, Docker, GitHub, Scrum
                    li Creative Thinking, Time Management, Analytical Skills, Multi-Tasking Skills, Strong Communication
            h3 Summary of Core Qualifications
                ul
                    li  learn and master new technology; equally successful in both team and self-directed settings; and
                        | proficient in a range of computer systems, languages, tools and testing methodologies
                    li Hands on experience designing and delivering complex, highly scalable distributed software components
                    li Extensive knowledge of Computer Science fundamentals in object-oriented design, algorithm design, problem
                        | solving, and complexity analysis
                    li Strong problem solving and troubleshooting skills with the ability to quickly adapt to changing and
                        | competing priorities
            h3 Work Experience
                p TO BE ADDED
            h3 Projects
                h4 Drone Simulation Systems (Class Project): Spring 2023
                    ul
                        li Worked on the backend of the application to enable users to react with the drone in the simulation.
                        li Link to the project&rsquo;s 
                            a(href='https://hub.docker.com/r/chorkhieng/drone_sim') DockerHub
                h4 The N-Queens Problems (Class Project): Spring 2023
                    ul
                        li Conducted a research project on the N-Queens problem, exploring various algorithmic designs to
                            | efficiently solve the problem
                        li Implemented and analyzed the performance of several algorithms, including, brute force, backtracking,
                            | genetic algorithm, and hill climbing
                        li Demonstrated strong problem-solving and analytical skills through this project
                        li Experiment and collect data for the research
                h4 Personal Portfolio Website (Personal Project): Summer 2023
                    ul
                        li Developed a responsive personal portfolio website using HTML and CSS to showcase my resume, projects, and skills
                        li Implemented a modern and visually appealing design with a focus on usability and user experience
                        li Utilized CSS flexbox and grid layouts to create a responsive design that adapts to various screen sizes and devices
                        li Integrated Font Awesome icons for social media profiles and contact information
                h4 Modern Portfolio Website (Personal Project)
                    ul
                        li Developed a another personal portfolio website with Pug, CSS, NodeJs, and ExpressJs
                        li Create database design for the portfolio 
                        li Using modern framework to enhance security and more interactive behavior for website
            h3 Volunteering Work
                h4 Computer for Work (C4W): July 2019 - September 2019
                    ul
                        li Help students with the practice of basic computer skills.
                        li Provide service and feedback in the learning process of the course.
                h4 Tutoring and Teaching through Remote Learning: September 2020 - December 2022
                    ul
                        li Help middle and high schoolers through online learning
                        li Tutoring basic maths, science, and computer skills

    include footer_page